/* Basics */
body {
    color: white;
    Padding: 0px;
    margin: 0px;
    height: 100%;
    scroll-behavior: smooth;
}


h1 {
font-family: "Lora", serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: normal;
font-size: 48px;
line-height: 56px;
color: #003399;
margin-bottom: 30px;
}

h2 {
font-family: "Source Sans 3", sans-serif;
font-optical-sizing: auto;
font-weight: medium;
font-size: 22px;
line-height: 34px;
color: #070707;
}

h3 {
font-family: "Lora", serif;
font-optical-sizing: auto;
font-style: normal;
font-weight: normal;
font-size: 30px;
line-height: 42px;
color: #070707;
margin-top:10px;
margin-bottom: 0px;
}

p {
   font-family: "Lora", serif;
   font-style: normal;
   font-weight: normal;
   font-size: 18px;
   line-height: 28px;
   color: #070707;
   padding-top: 12px;
   margin-top: 12px;
}

p .highlight {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
}

i {
   font-family: "Lora" auto;
   font-optical-sizing: auto;
   font-style: italic;
   font-weight: normal;
   font-size: 18px;
   line-height: 28px;
   color: #070707; 
}

strong {
   font-size: 18px;
    line-height: 28px;
   font-weight: 500;
}

a {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 0px;
    color: #003399;
    text-decoration: none;
}

a:hover {
    color: #f7921d;
    transition: 0.2s ease;
}

/* a:visited {
    color:#6a8aca;
} */

ul {
    list-style-type: disc;
    color: #070707;
    padding-left: 20px;
}

li {
    padding-left: 10px;
}

.sprung {
    visibility: hidden;
    height: 0px;
    position: absolute;
    margin: -110px;
}

/* Menu */

.navbar {
    background-color: white;
    padding: 40px 122px 0px 122px;
    position: sticky;
    z-index: 98;
    top: 0;
    overflow: hidden;
    border-bottom: 0.5px solid #e9edf5;
    box-sizing: border-box;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.navbar img {
    max-height: 60px;
    float: right;
    box-sizing: border-box;
}

.navbar ul {
  list-style: none;
  padding: 0px;
}

.navbar li {
    display: inline;
    padding-right: 0px;
    padding-left: 0px;
}

.burger {
    display: none;
}

.menu {
    padding-right: 25px;
}

.navbar .burger {
    display: none;
    padding-right: 0px;
}

nav a {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 18px;
    line-height: 34px;
    color: #070707;
    display: inline;
}

nav a:hover {
    color: #003399;
    transition: 0.2s;
}



/* About */
.intro {
    background-color: #e9edf5;
    display: flex;
    flex-flow: row;
    padding-top: 150px;
    padding-bottom: 150px;
    padding-left: 122px;
    padding-right: 122px;
}

.left {
    flex: 1;
    padding-right: 122px;
}

.right {
    flex: 1;
    padding-right: 0px;
}

.columns {
    display: flex;
    flex-flow: row;
    align-items: top;   
    padding: 0px; 
} 

/* About */
.bright-back {
    background-color: white;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-left: 122px;
    margin-right: 122px;
    border-top: #F0F4FC solid 1px;
}

.dark-back {
    background-color: #e9edf5;
    padding-top: 60px;
    padding-bottom: 60px;
    padding: 122px;
    padding-right: 122px;
    border-top: #F0F4FC solid 1px;
}


.right-diff {
    overflow-y: scoll;
    flex: 2;
    padding-right: 0px;
}

.box {
    background-color: #F0F4FC;
    padding: 40px 64px 40px 64px;
    border-radius: 8px;
    margin-top: 24px;
}

/* SiT */

.preview {
    padding-top: 40px;
}

img {
    box-sizing: border-box;
}

.link {
    color: #003399;
}

.link svg {
    fill: #003399;
    height: 15px;
    padding-left: 8px;
    margin-top: 18px;
}

.link:hover {
    color: orange;
}

.link:hover svg {
    fill: orange;
    transition: 0.2s ease;
}

.link:hover svg {
    fill: orange;
    transition: 0.2s ease;
}


/* Publications */
.archive {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.archive-item {
    position: relative;
    box-sizing: border-box;
    background-color: #ffffff;
    width: calc(25% - 25px);
    height: auto;
    margin: 0px 20px 20px 0px;
    padding: 0px 0px 40px 0px;
    border: 2px solid #e9edf5;
    border-radius: 8px;
    overflow: hidden;
}

.archive-item:hover {
    border: 2px solid #f9cc99;
    transition: 0.2s;
}


.thumbnail {
    width: 100%;
    overflow: hidden;
}

.thumbnail img {
    display: hidden;
    box-sizing: border-box;
}

.info h3 {
    padding-bottom: 0px;
    height: 60%;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
    height: 300px;
}

.info p {
    font-size: 14px;
    line-height: 22px;
    bottom: 0px;
    padding: 0px;
}

.card-link {
    position: baseline;
    bottom: 10px;
    justify-content: flex-end;
    margin-top: auto;
}

.archive-item:hover .card-link {
    color:#f7921d;
    transition: 0.2s;
}

.archive-item:hover .thumbnail {
    scale: 103%;
    transition: 0.3s ease-in;
}



/* Testimonials */
.testimonials {
    display: flex;
    flex-wrap: wrap;
    margin-top: 90px;
    margin-bottom: 90px;
}

.quote {
    position: relative;
    flex: 1;
    border-right: 2px solid #F0F4FC;
    margin: 0px 60px 0px 0px;
    padding: 0px 60px 20px 0px;
    overflow: hidden;
}

.quote2 {
    position: relative;
    flex: 1;
    margin: 0px 20px 20px 0px;
    padding: 0px;
    overflow: hidden;
}



/* Contact Form */

.container {
    width: 70%;
}

.contact-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

.form-group-inline {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.form-group-inline .form-group {
  width: 100%;
}

input, textarea {
    color: #515151;
    font-family: "Lora", serif;
    font-size: 16px;
    width: 100%;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    background-color: #ffffff;
}

input:focus, textarea:focus {
    outline: 3px solid #F0F4FC;
}

textarea {
    height: 268px;
}


button.submit-btn {
    font-family: "lora";
    font-weight: 600;
    background-color: #e9edf5;
    color: #003399;
    padding: 8px 20px;
    border: 2px solid #003399;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    max-width: 100px;
}

button.submit-btn:hover {
    color: #f7921d;
    border-color: #f7921d;
    background-color: #e9edf5;
}

button.submit-btn:visited {
    color:#6a8aca;
    border-color: #6a8aca;
    background-color: #e9edf5;
 }

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

/*Footer*/
footer {
    background-color: white;
    padding-top: 20px;
    padding-bottom: 40px;
    margin-left: 122px;
    margin-right: 122px;
    border-top: #F0F4FC solid 1px;
}



@media screen and (max-width: 1220px){

 a:active {
    color: #f7921d;
 }

 .bright-back {
    margin-left: 90px;
    margin-right: 90px;
 }
 
 .navbar, .intro, .dark-back {
    padding-left: 90px;
    padding-right: 90px;
 }

 .navbar {
    padding-top: 30px;
    padding-bottom: -10px;
 }

 .bright-back, .intro, .dark-back {
    padding-top: 120px;
    padding-bottom: 120px;
 }

 .intro {
    flex-flow: column;
 }

 .left {
    padding-right: 0;
 }

 .columns {
    flex-flow: column;
 }

 .menu {
    display: none;
 }

 .navbar .burger {
    display: inline;
 }

 .preview {
    display: none;
 }

 .dark-back .columns {
    flex-flow: column-reverse;
 }
    
 .archive-item {
    width: calc(50% - 25px);
    margin: 0px 20px 20px 0px;
 }

 .info {
    max-height: 250px;
 }

 .container {
    width: 100%;
 }

 .contact-form {
    display: flex;
    flex-direction: column;
 }

 .form-group-inline {
    flex-flow: wrap;
    gap: 0px;
 }

 button.submit-btn:active {
    color:#f7921d;
    border-color:#f7921d;
    background-color: #e9edf5;
 }

 .form-group {
  margin-right: 40px;
 }

 .testimonials {
    width: calc(100%-25);
    flex-flow: column;
    margin-top: 40px;
    margin-bottom: 40px;
 }

 .quote {
    border-right: none;
    border-bottom: 2px solid #F0F4FC;
    margin-right: 0px;
    padding: 40px 0px 40px 0px;
 }

 .quote2 {
    margin-right: 0px;
    padding: 40px 0px 40px 0px;
 }
}

@media screen and (max-width: 880px){

 footer, .bright-back {
    margin-left: 50px;
    margin-right: 50px;
 }

 .navbar, .intro, .dark-back {
    padding-left: 50px;
    padding-right: 50px;
 }

}

@media screen and (max-width: 668px){
 h1 {
    font-size: 32px;
    margin-bottom: 0px;
 }

 h3 {
    font-size: 24px;
    line-height: 32px;
 }

 p {
   font-size: 16px;
   line-height: 24px;
 }

 strong {
   font-size: 16px;
   line-height: 24px;
 }

 a {
    font-size: 16px;
 }

 .navbar ul {
    padding-bottom: 0px;
 }

 .navbar {
    padding: 30px 20px 0px 20px;
 }

 .navbar img {
    max-height: 50px;
 }

 footer, .bright-back {
    margin-left: 20px;
    margin-right: 20px;
 }

 .navbar, .intro, .dark-back {
    padding-left: 20px;
    padding-right: 20px;
 }

 .intro {
    padding-top: 60px;
    padding-bottom: 90px;
 }

 .bright-back, .dark-back {
    padding-top: 50px;
    padding-bottom: 90px;
 }

 .box {
    padding: 20px 30px 20px 30px;
 }

 .archive-item {
    width: 100%;
    margin: 20px 0px 0px 0px;
 }

 .info {
    height: 200px;
 }

 .testimonials {
    margin-top: 0px;
    margin-bottom: 0px;
 }

 .container {
    margin-top: 20px;
 }

 button.submit-btn {
    width: 100%;
 }

 .form-group-inline {
    margin: 0px;
 }

 .form-group {
    margin-right: 30px;
 }

}